.header{
    /* background: url(../img/bg-section\ 1.png);
    height: 848px; */
}
.zazor {
    background: url(../img/bg-section\ 1.png);
    background-size: cover;
    height: 848px;
}
.nav {
    height: 30px;
    display: flex;
    justify-content: end;
}

ul {
    display: flex;
    gap: 30px;
    justify-content: end;
    margin-top: -30px;
}

 li {
    position: relative;
    
}

li::after {
    content: '';
    position: absolute;
    background-color: #FA9801;
    height: 3px;
    width: 0;
    top: 20px;
    left: 0;
    /* bottom: -4px; */
    transition: 0.3s;
}

li:hover:after {
    width: 100%;
}
li:hover {
    color: black;
}


/* Footer - wrapper */

.footer {
    background-color: #E6E6E6;
}

.footer-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-2gis {
    margin-top: -11px;
}

.footer-map {
    margin-left: 100px;
    margin-bottom: 24px;
}

.footer-control{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.span-footer {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    padding-left: 12px;
}

.footer-right {
    
}